<footer>
    <div class="fsHolder">
        <div class="firstDiv">
            <div class="footerLogo">
                <a href="/">Pixels</a>
            </div>
        </div>
        <div class="secondDiv">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/aboutUs">About us</a></li>
                <li><a href="/contactUs">Contact us</a></li>
            </ul>
        </div>
    </div>
    <div class="fsHolder">
        <div class="firstDiv">
            <p>Cultivate your vision into a digital success story. Elevate your online footprint with
                innovative solutions designed for efficiency and impact.</p>
        </div>
        <div class="secondDiv">
            <div class="scfHolder">
                <span>@CopyRights 2024,All rights reserved</span>
                <div>
                    Folow Us <i class="fa-brands fa-whatsapp"></i> <i class="fa-brands fa-facebook"></i> <i
                        class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</footer>